/* Estilo general de la web */
*{
    font-family: 'Naste light';
}

body{
    background-image: url(../img/edificio-sf.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.logo img{
    margin-bottom: 20%;
    width: 20em;
}

/*Caja del login*/

.formContainer{
    background-color: rgba(255,255,255,.80);
    box-shadow: 0 0 1em rgba(0,0,0,.5);
    padding: 2%;
}

h1{
    text-align: center;
    font-family: 'Naste regular';
    cursor: default;
    color: #134189;
}

form{
    text-align: center;
}

form input{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    background-color: #e5e5e5;
    border-radius: 5px;
    width: 25%;
    padding: .8em;
}

.form-check{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-input{
    cursor: pointer;
    margin-right: 1%;
    align-items: center;
}

.form-check-input:focus{
    box-shadow: 0 0 10px #134189;
    outline: 1px solid #134189; 
}

input:focus{
    box-shadow: 0 0 10px #134189;
    outline: 1px solid #134189;    
}

.button_login{  
    width: 25%;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: .9em;
    background-color: #134189;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.button_login:hover{
    background-color: #0c316d; 
}

/* ESTO PARA TENER LO DEL */
input::placeholder{
    font-size: 1.1em;
    opacity: .7;
}



/*Error*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}

.invalid-input {
    border: 1.5px solid red !important;
    animation: shake 0.5s ease; /* Apply shake animation */
}