@font-face {
    font-family: 'Naste SemiBold';
    src: url('../fonts/NasteSemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Naste light';
    src: url('../fonts/NasteLight.ttf') format('truetype');
}

body{
    /* background-image: url(../img/edificio-sf.jpg);
    background-size: cover; */
    background: linear-gradient(#10408b, #7a8494);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.card {
    background-color: rgba(255, 255, 255, 30);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 2%;
    margin-top: 10%;
    height: 65dvh;
}

.card-title {
    color: #134189 !important;
    font-size: 24px;
    font-family: 'Naste SemiBold'!important;
}

.card-body {
    font-size: 16px;
    font-family: 'Naste SemiBold';
}

/* Estilo de las tablas dentro de las tarjetas */
.table {
    width: 100%;
    font-size: 15px;
}

.table-bordered > :not(caption) > * > * {
    border: none;
}

th {
    text-align: left;
    align-content: center;
    padding: 8px;
}

td {
    padding: 8px;
    text-align: left;
    font-family: 'Naste light';
}

.btn{
    background-color: #134189;
    color: white;
    text-align: center;
    font-size: 17px;
    border-radius: 5px;
    font-family: 'Naste SemiBold';
    padding-inline: 1%;
    width: 100%;
    max-width: 250px;
    margin: 20px auto 0;
}

td, th{
    background-color: transparent !important;
}

tbody tr:hover{
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}

.salir{
    display: flex;
    margin-top: 2%;
    margin-right: 5%;
}

