
body{
    background-image: url(../img/edificio-sf.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

#box{
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;

}

#nuevas{
    width: 40%;
    height: 30em;
    background-color: rgba(255,255,255,.80);
    box-shadow: 0 0 1em rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 1%;
}

#encurso{
    width: 40%;
    height: 30em;
    background-color: rgba(255,255,255,.80);
    box-shadow: 0 0 1em rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 1%;
}

.titulo{
    color: #134189;
    font-size: 24px;
    font-family: 'Naste SemiBold';
    padding-inline: 3%;
}

ul{
    list-style: none;
    font-size: 16px;
    font-family: 'Naste SemiBold';
    padding-inline: 3%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

.contenido{
    font-size: 16px;
    font-family: 'Naste light';
    padding-inline: 3%;
}

#big-button{
    background-color: #134189;
    color: white;
    text-align: center;
    font-size: 19px;
    border-radius: 5px;
    font-family: 'Naste light';
    padding-inline: 1%;
    margin-right: 7%;
    margin-left: 77%;
}