
/* Estilo general de la web */
*{
    font-family: 'Naste Semibold';
}

body{
    background-image: url(../img/edificio-sf.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

#titles{
    font-size: 4.29982rem;
}

#logo{
    width: 100%;
    background-color: rgba(255,255,255,.80);
}

#logo img{
    margin: 1em;
    float: right;
    width: 30em;
}

.vertical-center {
    min-height: 100%;  
    min-height: 75vh;
    display: flex;
    align-items: center;
  }

/* Estilo del titulo*/

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 2em;
}
.titulo{
    font-size: 3.29982rem;
    color: #134189;
    margin: auto;
}


/* Estilo de los botones de selección */

.cuerpo{
    display: flex;
    justify-content: center;
   /* margin-top: 14em; */
}

.pFontSize{
    color: #134189;
    text-align: center;
    font-size: 22px !important;
    margin-bottom: 0!important;
}

.btn-principal{
    padding: 3em;
    display: block;
    float: left;
    border: 0px;
    background-color: #ffffff;
    border-radius: 5px;
}

.btn-principal:hover{
    cursor: pointer;
    background-color: #134189;
}

.btn-principal:hover p{
    color: white;
}

#space-code{
    justify-items: center;  
}
#space-code p{
    color: #134189;
    font-size: 1.2em;
}
#space-code input {
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #e5e5e5;
    border: 1px solid #7c7c7cb6;
    border-radius: 5em;
    width: 20em;
    text-align: center;
    outline: none;
    box-shadow: none;
    
}

input::placeholder{
    opacity: .7
}
.animate__animated.animate__fadeIn {
    --animate-duration: .4s;
}

#icon{
    width: 4%;
    position: absolute !important;
    height: 10% !important;
    transform: translate3d(0px, 0px, 0px) !important;
    right: 40% !important;
    bottom: 15em !important;
}
.animate__animated.animate__fadeIn{
    --animate-duration: 2s;
}