
/* Estilo general de la web */
*{
    font-family: 'Naste Semibold';
}

body{
    background-image: url(../img/edificio-sf.jpg);
    background-size: cover;
    overflow: hidden;
}

.logo img{
    margin-bottom: 30%;
    width: 20em;
}

.titulo{
    font-size: 4.29982rem;
    color: #134189;
}

/* Estilo de los botones de selección */

.btn-principal{
    padding: 5%;
    border: none;
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #134189;
    text-align: center;
    font-size: 22px;
}

.btn-principal:hover{
    cursor: pointer;
    background-color: #134189;
    color: rgb(255, 255, 255);
    transform: scale(0.98);
}

#textCod{
    color: #134189;
    font-size: 22px;
    margin-bottom: 1%;
}

#codigoIncidencia{
    padding: 0.5em;
    font-size: 1.2em;
    background-color: #e5e5e5;
    border: 1px solid #7c7c7cb6;
    border-radius: 5em;
    width: 20em;
    text-align: center;
    outline: none;
    box-shadow: none;
}

/* Flecha azul para enviar código */

input::placeholder{
    opacity: .7
}

.animate__animated.animate__fadeIn {
    --animate-duration: .4s;
}

.animate__animated.animate__fadeIn{
    --animate-duration: 2s;
}

.col-md-5{
    position: relative;
}
.col-md-5 dotlottie-player{
    z-index: 10;
    width: 70px;
    position: absolute;
    top: 23px;
    left: 320px;
}
