/* Estilos de la caja principal */
.box-tick {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 4px;
    max-width: 800px; /* Limitamos el ancho máximo */
}

/* Estilos del título */
.text-tick {
    text-align: center;
}

#ticket-info{
    margin: 4em;
}

/* Input general */
input, textarea {
    width: 100%;
    background-color: #e0e0e0;
    color: #666;
    border: 1px solid grey;
    cursor: not-allowed;
}

/* Caja desplegable (boxDes) */
.boxDes {
    border: 1px solid grey;
    border-radius: 4px;
    margin: 0 auto;
    padding: 1em;
}

/* Caja comprimida (boxUnDes) */
.boxUnDes {
    border: 1px solid grey;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Icono de dropdown */
.dropdownIcon {
    width: 24px;
    height: auto;
    margin-right: 1em;
}

/* Input y textareas de solo lectura */
input[readonly], textarea[readonly] {
    background-color: #e0e0e0;
    color: #666;
    border: 1px solid grey;
    cursor: not-allowed;
}

/* Botón */
.btnadd {
    width: 100%;
    max-width: 300px;
    height: 3em;
    font-size: 1em;
}

/* Oculta detalles por defecto */
.boxDes {
    display: none;
}

/* Muestra detalles cuando se remueve la clase d-none */
.boxDes:not(.d-none) {
    display: block;
}

.d-block{
    display: block;
}