*{
    font-family: 'Naste Semibold';
}

body{
    overflow: visible !important;
    background: linear-gradient(#10408b, #7a8494);
    height: 100vh;
}

/* Estilos de la caja principal */
.box-tick {
    background-color: rgba(255, 255, 255, 30);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    padding: 2em;
    border-radius: 4px;
    position: relative;
}

.salir{
    display: flex;
    justify-content: space-between
}

/* Estilos del título */
.text-tick {
    text-align: center;
}

#ticket-info{
    margin-left: 4em;
    margin-right: 4em;
}

/* Input general */
input, textarea {
    width: 100%;
    background-color: #e0e0e0;
    color: #666;
    border: 1px solid #7c7c7cb6;
    cursor: not-allowed;
}

.form-control{
    color:#7c7c7cb6;
    cursor: text;
}

.form-control:focus, .description-box:focus {
    border: 1px solid #7c7c7cb6; 
    box-shadow: 0 0 0px #e0e0e0; 
    outline: none; 
    background-color: #e0e0e0;
    color: #666;
}

#comment-descripcion{
    background-color: white;
    color: black;
}

#comment-descripcion:focus{
    box-shadow: 0 0 10px #134189;
    outline: 1px solid #134189;   
}

/* Caja desplegable (boxDes) */
.boxDes {
    border: 1px solid #7c7c7cb6;
    border-radius: 4px;
    margin: 0 auto;
    padding: 1em;
}

/* Caja comprimida (boxUnDes) */
.boxUnDes {
    border: 1px solid #7c7c7cb6;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

/* Icono de dropdown */
.dropdownIcon {
    width: 24px;
    height: auto;
    margin-right: 1em;
}

/* Input y textareas de solo lectura */
input[readonly], textarea[readonly] {
    background-color: #e0e0e0;
    color: #666;
    border: 1px solid #7c7c7cb6;
    cursor: not-allowed;
}

/* Botón */
.btnadd {
    width: 100%;
    max-width: 300px;
    height: 3em;
    font-size: 1em;
}

.btn-success{
    background-color: #134189;
    border: none;
}

/* Oculta detalles por defecto */
.boxDes {
    display: none;
}

/* Muestra detalles cuando se remueve la clase d-none */
.boxDes:not(.d-none) {
    display: block;
}

.d-block{
    display: block;
}

.file-box{
    width: 100%;
    background-color: #e0e0e0   ;
    border: 1px solid black;
    border-radius: 4px;
}

.file-box div a{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: 1em;
}

.file-img{
    width: 50px;
}